
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top:2rem;
  scroll-behavior: smooth;
  list-style:none ;
  text-decoration: none;
  font-family:"Poppins", sans-serif;
  overflow-x: hidden;
}
:root{
  --main-color: #1B262C;
  --second-color: #0F4C75;
  --third-color:#05283f;
  --fourth-color: #BBE1FA;
  --fifth-color:rgb(4, 50, 119);
  --p-color:rgb(0, 0, 0);
  --bg-color:#0F4C75;
  --hiw-color:#3752ca;
  --text-color:#fff


  --gradient: linear-gradient(#3aebf8,#cddedf);
}
body{
    background-attachment: fixed;
    background-color:var(-bg-color);
    background-size: auto;
    
}
.header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url(pic/backheader.jpeg) center no-repeat ;
  background-size:cover;
  

}

.header .menu {
  width: 100%;
  background-color: black;
  border-radius: 10px;


}
.header .menu ul {
  width: 50%;
  height: 90px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
.header .menu ul li {
  padding: 0px 5px;
  margin: 0 10px; 
  color: #3aebf8;
}

.header .menu ul li a{
  display:inline-block;
  color: var(--text-color);
  font-weight:500;
  font-family: sans-serif;
  font-size: 1.2rem;
  padding: 10px 20px;
  text-decoration: none;
}
.header .menu ul li a:hover{
  color: var(--third-color);
}
 #nav-menu-mobil{
  display: none;
}
.mob {
  display: none;
}
.header .menu a img {
  width: 200px;
  margin-top: 30Px;
  margin-left: 0;
}
.loader{
  position: absolute;
  z-index: 9999999;
  background: #fff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.header .headcontent{
  width: fit-content;
  margin: 100px auto;
  align-self: center;
  justify-self: center;
  color:var(--third-color);

}
.header .headcontent h2{
  font-size:60px;
  margin-bottom: 20px;
  text-align: center;
  color:black;
}
.header .headcontent h4{
  font-size:30px;
  text-align: center;
  margin-top: 40px;
  color: var(--second-color);
}
.header .headcontent h1{
  font-size:70px;
  text-align: center;
  margin-top:200px;
  color: var(--main-color);
}


main .section {
  height: fit-content;
  width: 100%;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color:rgb(255, 255, 255);
  margin:auto;
  flex-wrap: wrap;
 
}

main .section .imgs{
  width: 50%;
  height: 400px;
  background: url("pic/blue-elegant-car-illustration_173474-93.jpg") center no-repeat ;
  background-size: contain;
  color: var(--main-color);
}

main .section .text{
  width:40%;
  height: 450px;
  background-color:#fff;
  margin-right: 120px;
  margin-top: 100px;
}
main .section .text h1 {
  font-size: 36px;
  text-align: center;
color:var(--main-color);
}
main .section .text .rent{
  width: 100%;
  height: fit-content;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--third-color); 
 
}
main .section .text .rent1{
  width: 100%;
  height: fit-content;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30PX;
}
main .section .text .rent1 img{
  width: 100px;
  height: 100px;
  display:flex;
}
main .section .text .rent2{
  width: 100%;
  height: fit-content;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;

}
main .section .text .rent2 img{
  width: 100px;
  height: 100px;
  display:flex;
  margin-top: 10px;
}
main .section .text .rent .rent11{
  width:60%;
  flex-direction: column;
  display:flex;
  justify-content: space-between;
  justify-content: center;
}
p{
color: var(--fourth-color);
}
h6{
  color: var(--p-color);
}
h3{
  color: var(--fifth-color);
  margin-bottom: 8px;
}


main .section .text .rent .rent12{
  width:60%;
  flex-direction: column;
  display:flex;
  justify-content: space-between;
  justify-content: center;
}
main .hiw {
  width: 100%;
  display: flex ;
  justify-content: space-between;
  background-color:var(--hiw-color);
  margin:auto;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-top:30px;

}
main .hiw .hi{
  margin-top: 60px;
  display: flex;
  justify-content:space-around;
  flex: column;
  text-align: center;
  width: 100%;
  

}
main .hiw h1{
  text-align: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
    font-size: 36px;
    text-align: center;
    margin-top: 60px;
}
main .hiw .hi{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 60px;
  }
main .hiw .hi .hi1 {
  width:200px ;
  margin: 20px 0;
}
 main .hiw .hi h6{
   font-size:18px;
 }
 main .hiw .hi p{
   font-size: 12px;
   color: #fff;
 }
 main .hiw .hi img{
   width: 40px;
 }
  .op{
    margin-top: 50Px;
  }

 
 
 main .say .op img{
   width: 90px;
   height: 90px;
   display: flex;
   justify-content: center;
   text-align: center;
   border-radius:40px ;
   margin: auto;

 }
 main .say H1{
   text-align: center;
   justify-content: center;
   width: 100%;
   margin-bottom: 10px;
   margin-top: 30px;
 }
 main .say .op {
   width:100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   justify-content: space-around;
   text-align: center;
   flex-wrap: wrap;
   border: 5px rgb(255, 255, 255) solid;
 }
 main .say .op .op1 {
   width: 300px;
 }
 main .say .op .op1 h6{
   font-size: 18px;
   text-align: center;
   margin-top: 15px;
   margin-bottom: 15px;
 }
 main .say .op .op1 p{
   text-align:justify;
   color: var(--bg-color);
 }
 
 


 footer {
  background-color:rgb(1, 8, 8);
  color: rgb(0, 0, 0);
  width:100%;
  padding-top: 40Px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}
/* .footelement {
  padding-right: 5%;
  padding-left: 5%;
  flex: 1;
} */
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}
.logof {
  /* align-items: center; */
/* justify-content: center; */
 margin-top: auto;
margin-left: 5px;
}
.footer-content  p{
  max-width: 500px;
  color: var(--fourth-color);
  margin:20px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

}
.socials li{
  margin : 0 20px;
  align-items: center;
  justify-content: center;
}
.socials a{
  text-decoration: none;
  color: #2da782;
}
.socials a i{
  font-size: 1.1rem;
}
.socials a:hover i{
  color: #f5dd08;
}
.footer-content .logof span{
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(0, 255, 234));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-bottom{
  width: 100vw;
  text-align:center;
  justify-content: center;
  padding-top: 76px;
  

}
.footer-bottom p{
  font-size: 14px;
  word-spacing:2px;
  text-transform: capitalize;
  
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .7;
  font-weight: 500;

}



@media screen and (max-width: 710px){
  main .section .text{
    width:60%;
    margin-top: 0px;

  }
  .logom{
    display: none;
  }

  .mob{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mob i {
    display:block;
    width: 50px;
    height: 9px;
  }
  .lg{
    height: 15px !important;
  }
  
  .header .menu {
    width: 100%;
    background-color: rgb(1, 8, 8);
    border-radius: 10px;
    inset: 0% 0% 0% 90%;
    flex-direction: column;
  }
  .header .menu ul {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    display: none;
  }

  
  .header .menu ul li a:hover{
    color: #ffffff;
  }
  .header .menu a img {
    width: 100px;
    height: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  } 

 
   
 header nav #nav-menu-mobil {
        display: flex;
        flex-direction: row;
        padding: 20px 7px;
        background: #262626;
        position:absolute;
        top: 5%;
        left: 50%;
        transform: rotateX(90deg) translateX(-51.5%);
        transition:all linear 300ms;
        z-index: 1;
    }
    header .menu-on #nav-menu-mobil {
        top: 10%;
        transform: rotateX(0deg) translateX(-51.5%);
    }

    header nav #nav-menu-mobil .nav-item {
        padding: 5px 10px;
        margin: 0 7px;
    }
    header nav #nav-menu-mobil .nav-item a {
        color: white;
        font-weight: 600;
    }
    main .section {
      flex-direction: column;
      margin-bottom: 70px;
    }
    main .section .imgs{

      width: 70%;
    
    }
    main .section .text{
      margin-left: 100px;

    }
    .socials{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .section .hiw{
      flex-direction: column;
    }
    .op{
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 50px;
    }
    .op1{
      margin-bottom: 30px;
    }
    p{
      font-size: 12px;
      text-align: center !important;
    }
    .footer-content .logof span{
      font-size: 50px;

    }
  }
  @media only screen and (max-width: 1199px) and (min-width: 840px){
    .section{
      flex-wrap: nowrap !important;
    }
    @media only screen and (max-width: 839px) and (min-width: 710px){
      .section{
        flex-wrap: nowrap !important;
        margin-bottom: 100px;
      }
  }
    @media screen and (max-width: 600px){
      .header .menu ul li a {
        font-size: 0.8rem;
        padding: 7px 14px;
        text-decoration: none;
    }
    header nav #nav-menu-mobil {
      padding:10px 8px;
    }
      .header .headcontent h2 {
        font-size: 50px;
      }
      .mob{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .mob i {
        display:block;
        width: 50px;
        height: 9px;
      }
      header nav #nav-menu-mobil {
        display: flex;
        flex-direction: row;
        padding: 20px 7px;
        background: #262626;
        position:absolute;
        top: 10%;
        left: 50%;
        transform: rotateX(90deg) translateX(-51.5%);
        transition:all linear 300ms;
        z-index: 1;
    }
    header .menu-on #nav-menu-mobil {
        transform: rotateX(0deg) translateX(-51.5%) ;
    }
  
    header nav #nav-menu-mobil .nav-item {
        padding: 5px 10px;
        margin: 0 7px;
    }
    header nav #nav-menu-mobil .nav-item a {
        color: white;
        font-weight: 600;
    }
      
      .header .menu {
        width: 100%;
        background-color: #3aebf85b;
        border-radius: 10px;
        inset: 0% 0% 0% 90%;
        flex-direction: column;
      }
      .header .menu ul {
        width: 100%;
        height: 90px;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
        justify-content: space-around;
        display: none;
      }
       header {
         background-color: #000000 !important;
         height: 500px !important;
       }
    
      
      .header .menu ul li a:hover{
        color: #3aebf8;
      }
      .header .menu a img {
        width: 100px;
        height: 20px;
        margin-bottom: 20px;
      } 
      .header .header-container {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .header .header-container h2{
        color: #3aebf8;
        font-size: 60px;
        align-items: center;
      }
    
    }
 
    @media screen and (max-width:400px) {
      .header .headcontent h2 {
        font-size: 40px;
      }
      main .section {
        margin-bottom: 100px;
      }

      main .say H1 {
        width: 90%;
        font-size: 24px;

      }
      main .section .text{
        width:80%;
    
      }
      .footer-content .logof span {
        font-size: 40px;
      }
      .footer-content p {
        padding:0 20px ;
      }
      
    }
    @media screen and (max-width:330px) {
      .socials {
        width: 90%;
        flex-wrap: wrap;
      }
      .footer-bottom {
        width: 80vw;
      }
    }
    
  